
html {
  background-size: 100px 100px;
  background-position: 0 0, 25px 25px, 50px 50px;
  text-align: center;
}

/* Background Pattern 
Taken From https: http://thepatternlibrary.com/ */

body{
  background-image: url("https://st.depositphotos.com/1006269/54802/i/450/depositphotos_548021436-stock-photo-night-starry-sky-bright-blue.jpg");
}

h1,
h2 {
  background-color: #DE3163 ;
  color: white;
  width: 500px;
  margin: auto;
  margin-bottom: 5px;
}
#myCanvas {
  border: 1px solid  #DE3163;
}
